<h1>Journalist</h1>


<div>

    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        <tr>
            <td>$journalist.getFirstName()</td>
            <td>$journalist.getLastName()</td>
        </tr>
    </table>

</div>