<h1>Meet...</h1>

<div>


            <h2>$journalist.getName()</h2>
            <br>
            <div>$journalist.getDescription()</div>
            <br>
            <div>
                #foreach($article in $articles)
                <tr>
                    <h4><a href="/articles/$article.getId()">$article.getTitle()</a> $article.giveUserFriendlyDate()</h4>
                </tr>
                #end
            </div>


</div>