.container {
	max-width: 70em;
	margin: 0 auto;
}

.header {
	background: black;
	color: white;
	padding: em(10px);

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.site-title, .site-tagline {
		font-weight: 400;
	}

	.site-title {
		margin: 0;
	}
}

.site-title, h1, h2, h3 {
	font-family: fantasy;
	font-size: em(42px);
	color: darken(lightblue, 75%);
}

h3 {
	font-size: em(32px);
	color: desaturate(salmon, 10%);
}

.site-title {
	color: white;
}

.site-tagline {
	font-size: em(18px);
	font-style: italic;
}

.main-nav {
	background: yellow;
	color: white;
	//transition: none;

	a {
		color: blue;
		text-decoration: none;
	}

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

	}

	ul {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		width: 100%;

		a {
			padding: em(15px) em(35px);
			display: flex;
			text-transform: uppercase;

			&:hover, &:focus {
				background: lighten(yellow, 25%)
				color: lighten(blue, 25%);
			}
		}
	}
}
