<h1>All Articles</h1>

<div>
    <a href="/article/new">New Article</a>
    <table>




        #foreach($article in $articles)
        <tr>
             <td> <a href="/article/$article.getId()"> $article.getTitle()</a></td> <td><a href="/journalists/$article.getJournalist().getId()"> $article.getJournalist().getName()</a></td><td>$article.giveUserFriendlyDate()</td>

        </tr>
        #end



    </table>






</div>